@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: lightblue;
  padding: 0px;
  width: 100%;
  height: 100%;
}
.nav {
  position: absolute;
  width: 100%;
  height: 110px;;
  background:#323;
  border-radius: 2% 5% 5% 2%;

}
.topnav{
  overflow: hidden;
  display: block;
  width: 100%;
  background: #;
  height: 70px;
  position: relative;

}
.logo img{
  width: 75px;
  padding-top: 3px;
  height: 65px;
}


.navlink a{
  color: white;
  padding: 1% 2%;
  margin-top: 6px;
  text-decoration:none;
  font-size: 150%;
  float: right;
  text-align: center;

}
a:hover{
  background: blue;
}
a:acive{
  background: red;
}
.search input{
  margin-top: 2px;
  height: 40px;
  width: 40vw;
  top:18px;
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  left:15%;

}
/* dow navigation:  */
.dnav {
  margin-top: .2vw;
  background: gray;
  border: .5px solid gray;
  border-radius: 10px 10px 10px 10px;
  height: 30px;
  color: white;
}
.dnav a{
  font-size: 2vw;
}





















/* for mobile size */
@media only screen and (max-width:600px) {

   .navlink a{
     padding-top: 12px;
   }

   .search input{
     top: 77px;
     width: 95%;
     height:35px;
     left:.4%;
   }
   .dnav{
     position: absolute;
     top:125px;;
     width: 100%;
   }
   h1{
     position: absolute;
     top: 180px;
   }
   .nav {
       height: 160px;
   }

}
